/********************************************************************************/
/**************************** FILTERABLE TABLE PAGE *****************************/
/********************************************************************************/

body{
    background-image:url("BackgroundWARM.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    background-position: center; 
    background-color: black;
    background-size: 115%;
    max-width: 1900px;
    width: 98%;
    margin: 0px auto;
    text-align: center;
    }
* {
    box-sizing: border-box;
    color: cyan;
    scrollbar-color: black #703810;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    -webkit-box-shadow: 0px 0px 25px 6px rgba(252,198,50,0.75);
    -moz-box-shadow: 0px 0px 25px 6px rgba(252,198,50,0.75);
    box-shadow: 0px 0px 25px 6px rgba(252,198,50,0.75);
    height: 450px
}

.card img {
    max-width: 275px;
    max-height: 300px;
    height: auto;
    width: auto; /* ie8 */
}

.cardTable {
    width: 100%; /* Full-width */
    border: 1px solid gold; /* Add a gold border */
}

.linkCard {
    height:300px;
    width:100%;
    overflow:hidden;
    border: 1px solid gold; /* Add a gold border */
}

.linkCardImg {
    max-height:200px;
    max-width:200px;
}

.thumbnail {
    max-width:300px;
    max-height:200px;
}

.content {
    -webkit-box-shadow: 0px 0px 25px 6px rgba(252, 198, 50, 0.75);
    -moz-box-shadow: 0px 0px 25px 6px rgba(252, 198, 50, 0.75);
    box-shadow: 0px 0px 25px 6px rgba(252, 198, 50, 0.75);
    width: 100%
}

figure {
  display:inline-block;
  max-width:20%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}
figure img {
  vertical-align: middle; 
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

input {
    background-color:black;
    border-color: gold;
    color:gold;
    font-weight: bold;
}
input :hover {
    background-color: gray;
}

a {
    text-decoration: none;
    color: yellow;
}

h1 { 
    color: Gold; 
    text-align: center;
}

h2 { 
    color: Gold; 
    text-align: center;
}

h3 { 
    color: Gold; 
    text-align: center;
}

p { 
    color: orange; 
    text-align: center;
}

button:hover, a:hover {
    opacity: 0.7;
}

#test:hover {
  background-color: gray; /* Add a dark-grey background on hover */
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/**********************************************************************/
/**************************** PAGE SEARCH *****************************/
/**********************************************************************/

#myInput {
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid gold; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    background-color: rgba(0, 0, 0, 0.4);
  }

  input {
    color: gold;
  }

  #myTable {
    position: relative;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    border-collapse: collapse; /* Collapse borders */
    width: 50%; /* Full-width */
    border: 1px solid gold; /* Add a gold border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: center; /* Center-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid gold;
  }

  #myTable td {
    /* Add a bottom border to all table rows */
    border-right:1px solid gold;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #27272755;
  }
/*
  #myTable td.header, #myTable td:hover {
    background-color: #27272755;
  }
*/
  /**********************************************************************/
  /**************************** IMAGE MODAL *****************************/
  /**********************************************************************/

 /* Style the Image Used to Trigger the Modal */
 #myImg {
    cursor: pointer;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    max-height:100%;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: none;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  
  /*****************************************************************************/
  /**************************** BACK TO TOP BUTTON *****************************/
  /*****************************************************************************/

  #linkToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    max-width: 40px;
    max-height: 40px;
    z-index: 99; /* Make sure it does not overlap */
    border: 3px solid gold; /* Remove borders */
    outline: 5px; /* Remove outline */
    background-color: black; /* Set a background color */
    color: gold; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 3px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    border-color: gold;
    font-size: 14px; /* Increase font size */
    font-weight: bold;
  }
  
  #linkToTop:hover {
    background-color: gray; /* Add a dark-grey background on hover */
  }

  /***********************************************************************/
  /**************************** DROPDOWN MENU ****************************/
  /***********************************************************************/

  /* Dropdown Button */
  .dropbtn {
    position: top absolute;
    background-color: black;
    color: gold;
    padding:5px;
    font-size: 16px;
    border: 1px solid gold;
  }
  /* Buttons in the dropdown menu */
  .menubtn {
    background-color: black;
    color: gold;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gold;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid gold;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    max-height:500px;
    overflow-y:auto;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
    scrollbar-color: gold black;
    scrollbar-width: thin;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid gold;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /************************************************************************************/
  /*************************** NEW STUFF I HAVENT ADDED YET ***************************/
  /************************************************************************************/
  